{% extends 'base.html.twig' %}

{% block title %}Développeur web Freelance à Besançon - Création de site internet – Parmentelot Bryan{% endblock %}

{% block body %}

{# <img src="{{ asset('images/bp.png') }}" alt="Photo de Bryan Parmentelot" width="363" height="338" style=""> #}

<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#00FFAD;}
</style>

<polygon class="st0" points="-0.5,0.5 1365.5,0.5 1365.5,563.65 682.5,621 0.5,551.04 "/>
</svg>

<nav style="position: relative; top:-130px">
<ul>
<li><a href="#">Services</a></li>
<li><a href="#">Projet</a></li>
<li><a href="#">Contact</a></li>
</ul>
</nav>

<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="Logo du site le bisontin du web " width="" height="">
<h1>hey</h1>
{{user.slogan}}
{{user.accroche}}
{{user.description}}


{% endblock %}
